<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Thin.ttf</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>더 정확한 정보를 제공하기 위해 사용됩니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>더 정확한 정보를 제공하기 위해 사용됩니다.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>NMFClientId</key>
	<string>$(X_NCP_APIGW_API_KEY_ID)</string>
</dict>
</plist>
